body {
    background:#5bf;
    font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
    color:#000;
    margin:20px auto;
    text-align:center;
    line-height:1.5em;
    width:960px;
}
h1, h2, h3, h4, h5, h6 {
    font-family:"Hiragino Kaku Gothic Pro",  Meiryo, sans-serif;
    font-weight:lighter;
}
a:link, a:visited {
    color:#c00;
    text-decoration:none;
}
a:hover {
    color:#0cc;
}
header, nav, section, footer {
    display:block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 4px #0bb;
    -moz-box-shadow: 0px 0px 4px #666;
    box-shadow: 0px 0px 4px #666;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    margin:5px;
    padding: 0 20px 10px 20px;
    font-size: 12pt;
    color: #000;
    text-align: left;
}
header {
    text-align:center;
    padding:30px;
    background-image: -moz-linear-gradient(top, #888, #33f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #888), color-stop(1.0, #33f ));
    background-color: #44f;
    border:none;
    color:#fff;
    text-shadow: 0px 0px 4px #000000;
}
header h1, header h2, header h3, header h4, header h5, header h6, header li, header p {
    font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
}
header h1 {
    font-size:2.3em;
    text-transform:none;
    letter-spacing:0em;
}
header h2 {
    margin:-10px 0px 20px;
    font-size:1.3em;
}
header ul {
    padding:0px;
    list-style-type:none;
    display:inline;
}
header li {
    margin:0px 10px;
    padding:0px;
    list-style-type:none;
    display:inline;
}
header a:link, nav a:visited {
    font-weight:normal;
}
nav {
    float:right;
    width:200px;
}
nav h1 {
    font-size:1.4em;
}
section {
    float:right;
    width:656px;
    text-align:left;
    margin-bottom:10px;
}
section h1, nav h1 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color:#44f;
    color:#fff;
    padding:10px;
    margin:10px -10px;
    text-shadow:1px 1px 5px #000;
}
section ul {
    padding:0px;
    list-style:none;
    border-top:1px solid #e7e2d7;
    margin:14px 0px;
}
section li {
    margin:0px;
    padding:0px;
    list-style:none;
}
section li a:link, section li a:visited {
    float:left;
    width:96%;
    padding:3px 1%;
    border-bottom:1px solid #e7e2d7;
}
section li a:hover {
    background:#f2f1ec;
}
section p {
    font-size:0.9em;
}
article {
    margin:0 0 30px 0;
}
footer {
    clear:both !important;
    padding:10px;
    background-color: #44f;
    border:none;
    color:#fff;
    font-size:0.8em;
    text-align:center;
}
footer a {
    margin:0px 5px;
}
